---
---

@import 'materialize/materialize';

//**discordcolor
.discord.blue {
background-color: #7289DA !important
}

.discord.white {
background-color: #FFFFFF !important
}

.discord.grey {
background-color: #99AAB5 !important
}

.discord.dark {
background-color: #2C2F33 !important
}

.discord.kuro {
background-color: #2C2F33 !important
}

.discord.black {
background-color: #000000 !important
}//**/

/** Minimal Scrollbar **/
/* WebKit and Blink */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(50,50,50,0.5);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(40,40,40,0.75);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(30,30,30,1);
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
/* Spec Version (Gecko only at the time of this addition) */
*, body {
   scrollbar-width:thin;
   scrollbar-color:rgba(50,50,50,0.5) transparent;
}